// GOOGLE FONT
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$header-height: 3rem;

// COLORS
$first-color: #4070f4;
$second-color: #0e2431;

// TYPOGRAPHY
:root {
  --body-font: "Poppins", sans-serif;

  // [MOBILE VERSION]
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  // [DESKTOP VERSION]
  @media screen and (min-width: 768px) {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

// FONT WEIGHT
$font-reguler: 400;
$font-semibold: 600;
$font-bold: 700;

// MARGINS
$margin-1: 0.5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;
$margin-5: 2.5rem;
$margin-6: 3rem;

// Z-INDEX
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// BASE & CLEAR
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: $second-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// CLASSES CSS
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: $first-color;
  margin-top: $margin-2;
  margin-bottom: $margin-4;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    top: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $first-color;
  }
}

// LAYOUT
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.bd-grid {
  max-width: 1024px;
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  margin-left: $margin-2;
  margin-right: $margin-2;
}

// HEADER SECTION
.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $font-semibold;

  &__menu {
    @media screen and (max-width: 768px) {
      position: fixed;
      width: 70%;
      height: 100vh;
      top: $header-height;
      right: -100%;
      padding: 2rem;
      background-color: $second-color;
      transition: 0.3s;
    }
  }

  &__item {
    margin-bottom: $margin-4;
  }

  &__link {
    position: relative;
    color: #fff;

    &:hover::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.18rem;
      top: 1.5rem;
      left: 0;
      right: 0;
      background-color: $first-color;
    }
  }

  &__logo {
    color: $second-color;
  }

  &__toggle {
    color: $second-color;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

// SHOW & HIDDEN HEADER MENU [MOBILE VERSION]
.show-menu {
  right: 0;
}

// ACTIVE NAV-LINK
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  top: 1.5rem;
  left: 0;
  right: 0;
  background-color: $first-color;
}

// HOME SECION
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;

  &__data {
    align-self: center;
  }

  &__title {
    font-size: var(--big-font-size);
    margin-bottom: $margin-5;

    &-color {
      color: $first-color;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;

    &-icon {
      width: max-content;
      margin-bottom: $margin-2;
      font-size: 1.5rem;
      color: $second-color;
    }
  }

  &__img {
    position: absolute;
    right: $margin-2;
    bottom: 0;
    width: 295px;
  }
}

// GLOBAL BUTTON
.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: $font-semibold;
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  }
}

// ABOUT SECTION
.about {
  &__container {
    row-gap: 2rem;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: $margin-2;
  }

  &__img {
    justify-self: center;

    img {
      width: 200px;
      border-radius: 0.5rem;
    }
  }
}

// SKILLS SECTION
.skills {
  &__container {
    row-gap: 2rem;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: $margin-2;
  }

  &__text {
    margin-bottom: $margin-4;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: $font-semibold;
    padding: 0.5rem 1rem;
    margin-bottom: $margin-4;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  }

  &__icon {
    font-size: 2rem;
    margin-right: $margin-2;
    color: $first-color;
  }

  &__names {
    display: flex;
    align-items: center;
  }

  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $first-color;
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: $z-back;
  }

  &__html {
    width: 95%;
  }

  &__css {
    width: 85%;
  }

  &__js {
    width: 70%;
  }

  &__uiux {
    width: 80%;
  }

  &__img {
    img {
      border-radius: 0.5rem;
    }
  }
}
